{
    "room": "CZ/SK Resttpowered",
    "author": "LoLLynka",
    "icon": null,
    "css": null,
    "rules": {
        "allowAutorespond": true,
        "allowAutowoot": true,
        "allowAutojoin": true,
        "allowAutograb": true,
        "allowSmartVote": true,
        "allowEmotes": true,
        "allowShowingMehs": true,
        "forceSmartVote": false
    },
    "ccc": {
        "admin": null,
        "ambassador": null,
        "host": null,
        "cohost": null,
        "manager": null,
        "bouncer": null,
        "rdj": null,
        "subscriber": null,
        "silversubscriber": null,
        "friend": null,
        "user": null
    },
    "images": {
        "background": "http://i.imgur.com/JJqx4jZ.png",
        "playback": null,
        "admin": null,
        "ambassador": null,
        "host": null,
        "cohost": null,
        "manager": null,
        "bouncer": null,
        "rdj": null,
        "subscriber": null,
        "silversubscriber": null,
    },
    "emotes": {
    	"emote_name": null
    }
}
